.main {
    padding: 4rem 0 4rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 1.25rem;
    & .card {
        @include card-styles;
        margin: 0 1.375rem 0 1.375rem;
        &__profile {
            display: grid;
            grid-template-columns: 2.3rem 9.375rem;
            grid-template-rows: min-content;
            //max-width: fit-content;
            &-img {
                grid-row: 1 / 3;
                justify-self: center;
                align-self: center;
                & img { 
                                              //(width, border-color)
                    @include profileImg-styles(1.875rem, $primary-01);
                }
            }
            &-name {
                & p {
                    margin: 1.25rem 0 0 0.9375rem;
                    font-size: $--13px;
                    font-family: 'Barlow Semi Condensed', sans-serif; 
                }
            }
            &-ver {
                grid-column-start: 2;
                & p {
                    margin: 0 0 1.25rem 0.9375rem;
                    font-size: $--11px;
                    font-family: 'Barlow Semi Condensed', sans-serif; 
                }
            }
        }
        &__title {
            & h1 {
                font-size: $--21px;
                font-family: 'Barlow Semi Condensed', sans-serif; 
                margin: 0;
            }
        }
        &__text {
            font-size: $--13px;
            font-family: 'Barlow Semi Condensed', sans-serif; 
        }
    }
}